@import '../../theme/colors';

.sdtet-navigation{
	height: 50px;
	position: sticky;
	top: 0px;
	background: #ffd200;
	z-index: 20;
}

#sdtet-nav-logo img{
	transition: .5s ease;
	&:hover{
		-webkit-transform: rotateZ(-10deg);
		-ms-transform: rotateZ(-10deg);
		transform: rotateZ(-10deg);
		transition: .5s ease;
	}
}

.sdtet-navigation__links {

	margin-right: 15px;
  max-width: 50%;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  a {
    color: black !important;
    font-family: 'Segoe UI', 'Roboto';
    margin-left: 5px;
    margin-right: 5px;

    &:hover{
    	text-decoration: underline;
    }


  }
}

.sdtet-navigation-menu {
	display: none;
	margin-right: 30px;
}

.sdtet-logo {
  height: 30px;
	margin-left: 20px;
}

@media screen and (max-width: 960px) {
  .sdtet-navigation__links {
		display: none;
	}

	.sdtet-navigation-menu {
		display: block;
	}

	.sdtet-navigation{
		justify-content: end;
	}
}
