@import '../../theme/colors';

.sdtet-navigation{
	height: 50px;
	position: sticky;
	top: 0px;
	background: $sdtet-blue;
	z-index: 20;
}

.sdtet-navigation__links {

	margin-right: 15px;
  max-width: 50%;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  a {
    color: #FBAF3F !important;
    font-family: 'Segoe UI', 'Roboto';
  }
}

.sdtet-navigation-menu {
	display: none;
	margin-right: 30px;
}

.sdtet-logo {
  height: 30px;
	margin-left: 20px;
}

@media screen and (max-width: 960px) {
  .sdtet-navigation__links {
		display: none;
	}

	.sdtet-navigation-menu {
		display: block;
	}

	.sdtet-navigation{
		justify-content: end;
	}
}
